<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Commande en attente</h1>
    {%for enreg in data%}
        {{enreg[1]}}<br>
        {{enreg[2]}}<br>
        {{enreg[3]}}<br>
        <form action="/supprimer_commande" method="post">
            <input type="text" name="commande_id" value="{{enreg[0]}}" hidden>
            <input type="submit" value="Terminer">
        </form>
        <br>
    {%endfor%}

</body>
</html>